In [69]:
import pandas as pd
import numpy as np

In [262]:
df = pd.read_csv("https://github.com/bogdanhutuleac/DataAnalyst/blob/main/PythonWork/Numpy%2Cpandas%2CML/heart.csv?raw=true")

In [263]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,3,0.0
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,3,0.0
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,3,0.0
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,3,0.0
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,2,0.0

In [264]:
# function to evaluate the conditions
def chol_cat(value):
  if value < 200:
    return 'normal'
  elif value >=200 and value < 240:
    return 'borderline'
  else:
    return 'high'

# passing the function by referance into apply 
df["chol_category"] = df["chol"].apply(chol_cat)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,3,0.0,borderline
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,3,0.0,borderline
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,3,0.0,normal
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,3,0.0,borderline
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,2,0.0,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,2,1.0,borderline
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,3,0.0,high
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,2,0.0,high
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,2,1.0,high
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,3,0.0,normal

In [265]:
df.replace({"target": {0: "no disease", 1: "disease"}}, inplace=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,3,no disease,borderline
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,3,no disease,borderline
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,3,no disease,normal
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,3,no disease,borderline
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,2,no disease,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,2,disease,borderline
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,3,no disease,high
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,2,no disease,high
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,2,disease,high
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,3,no disease,normal

In [266]:
# because data is inconsistent I get one of the value as Nan, so I got this fix
df['thal'] = df['thal'].astype(str)
df.replace({"thal": {"0": "defect", "1": "fixed defect", "2": "normal", "3":"reversible defect"}}, inplace=True)

In [267]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,reversible defect,no disease,borderline
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,reversible defect,no disease,borderline
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,reversible defect,no disease,normal
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,reversible defect,no disease,borderline
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,normal,no disease,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,normal,disease,borderline
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,reversible defect,no disease,high
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,normal,no disease,high
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,normal,disease,high
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,reversible defect,no disease,normal

In [271]:
nan_to_drop = list(df[df["thal"].str.lower() == "nan"].index)
# nan_to_drop = list(df[df["target"].isna()].index)


df = df.drop(labels=nan_to_drop, axis=0)

df[df["target"].str.lower() == "nan"]
df[df["target"].isna()]

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target, chol_category]
Index: []

In [269]:
df.fillna(method ='pad', inplace=True)

In [270]:
df.isna().sum()

age              0
sex              0
cp               0
trestbps         0
chol             0
fbs              0
restecg          0
thalach          0
exang            0
oldpeak          0
slope            0
ca               0
thal             0
target           0
chol_category    0
dtype: int64

In [272]:
df.groupby("thal").size()

thal
defect                 7
fixed defect          64
normal               542
reversible defect    410
dtype: int64

In [243]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,0,0,0
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,0,0,0
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,0,0,1
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,0,0,0
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,1,1,0
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,0,0,2
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,1,0,2
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,1,1,2
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,0,0,1

In [171]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target', 'chol_category'],
      dtype='object')

In [173]:
# find the columns with datatype of object in a df
def check_object_col(df):
  columns_name = df.columns
  object_column = []
  for name in columns_name:
    if df[name].dtype == "object":
      object_column.append(name)
  # print(object_column)
  return object_column

object_columns = check_object_col(df)

object_columns

['thal', 'target', 'chol_category']

In [58]:
df[df["target"].isna()]

Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target, chol_category]
Index: []

In [62]:
df["target"].unique()

array(['no disease', 'disease'], dtype=object)

In [121]:
# a function that will take the uniq values of a column and make a dictionary of values

def uniq_values_dict(series):
  uniq_values = series.unique()
  dict_values = {}
  for i,items in enumerate(uniq_values):
    dict_values[items]=i
    # print(i)
    # print(items)
    
  return dict_values

my_dict = uniq_values_dict(df["target"])
my_dict

{'no disease': 0, 'disease': 1}

In [86]:
# swap keys and values into dictionary
my_dict = {v: k for k, v in my_dict.items()}
my_dict

{0: 'no disease', 1: 'disease'}

In [277]:
# function that will replace the categorical data with numerical data
def replace_categorical(df):
  list_of_columns = check_object_col(df)
  replaced_dictionary = {}
  for column in list_of_columns:
    replaced_dictionary[column] = uniq_values_dict(df[column])
    df[column].replace(replaced_dictionary[column], inplace=True)
    
  # print(replaced_dictionary)
  return replaced_dictionary

df2 = df.copy()
retrive_dict = replace_categorical(df2)

retrive_dict

{'thal': {'reversible defect': 0, 'normal': 1, 'fixed defect': 2, 'defect': 3},
 'target': {'no disease': 0, 'disease': 1},
 'chol_category': {'borderline': 0, 'normal': 1, 'high': 2}}

In [278]:
# function that will replace the categorical data with numerical data
def replace_categorical(df):
  list_of_columns = check_object_col(df)
  replaced_dictionary = {}
  for column in list_of_columns:
    replaced_dictionary[column] = uniq_values_dict(df[column])
    df[column].replace(replaced_dictionary[column], inplace=True)
    
  # print(replaced_dictionary)
  return df

df2 = df.copy()

replace_categorical(df2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,0,0,0
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,0,0,0
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,0,0,1
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,0,0,0
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,1,1,0
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,0,0,2
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,1,0,2
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,1,1,2
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,0,0,1

In [276]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,reversible defect,no disease,borderline
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,reversible defect,no disease,borderline
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,reversible defect,no disease,normal
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,reversible defect,no disease,borderline
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,normal,no disease,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,normal,disease,borderline
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,reversible defect,no disease,high
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,normal,no disease,high
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,normal,disease,high
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,reversible defect,no disease,normal

In [238]:
for element in df3:
  df2[element].replace(df3[element], inplace=True)
  
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,0,0,0
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,0,0,0
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,0,0,1
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,0,0,0
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,1,1,0
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,0,0,2
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,1,0,2
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,1,1,2
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,0,0,1

In [138]:
for element in :replaced_dict
  print(element, replaced_dict[element])

thal {'reversible defect': 0, 'normal': 1, 'fixed defect': 2, 'defect': 3}
target {'no disease': 0, 'disease': 1}
chol_category {'borderline': 0, 'normal': 1, 'high': 2}

In [142]:
list(replaced_dict.keys())

['thal', 'target', 'chol_category']

In [280]:
# retrieve the replaced values
# for element in replaced_dict:
#   print(element, replaced_dict[element])

# retrive_dict variable storing the dictionary

def retrieve_replaced(df, replaced_dict):
  list_of_columns = list(replaced_dict.keys())
  swapped_dict = {}
  for element in replaced_dict:
    swapped_dict[element] = {v: k for k, v in replaced_dict[element].items()}
    
  for column in list_of_columns:
    df.replace({column: swapped_dict[column]}, inplace=True)
    
retrieve_replaced(df2, retrive_dict)
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,reversible defect,no disease,borderline
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,reversible defect,no disease,borderline
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,reversible defect,no disease,normal
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,reversible defect,no disease,borderline
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,normal,no disease,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,normal,disease,borderline
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,reversible defect,no disease,high
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,normal,no disease,high
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,normal,disease,high
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,reversible defect,no disease,normal

# labelizor class how it works:

class that will take the dataframe and change categorical data to numeric

will change all columns with dtype of object into numerical, make shore you clean the data before 

first you need to define: variable_name=labelizor(df) where df is your dataframe

in order to switch the data use: variable_name.replace_categorical()

in order to switch it back use:  variable_name.retrieve_replaced()

In [323]:
# class that will take the dataframe and change categorical data to numeric
class labelizor():
  
  labeld_dictionary = {}
  changed_columns = []
  
  def __init__(self, dataframe):
    self.dataframe = dataframe

  # create the list of changed columns
  # by adding __ in front of function name will make the function private
  def __check_object_col(self):
    columns_name = self.dataframe.columns
    object_column = []
    for name in columns_name:
      if self.dataframe[name].dtype == "object":
        object_column.append(name)
        
    # will be executed only if list is empty
    if not self.changed_columns:
      self.changed_columns = object_column
    # print(self.changed_columns)
    return self.changed_columns
  
  # take uniq values of a column and make a dictionary of values
  def __uniq_values_dict(self, series):
    uniq_values = series.unique()
    dict_values = {}
    for i,items in enumerate(uniq_values):
      dict_values[items]=i

    return dict_values
  
  # function to replace categorical
  def replace_categorical(self):
    # making a copy so it wont change the original
    new_df = self.dataframe.copy()

    list_of_columns = self.__check_object_col() # will return the list and it will store it in changed_columns as well
    replaced_dictionary = {}
    
    # if replaced dictionary doesn't exists will be created( I do this so I avoid overwrighting it by running it 2 times)
    # will be executed only if list is empty
    if not replaced_dictionary:
      for column in list_of_columns:
        replaced_dictionary[column] = self.__uniq_values_dict(new_df[column])
    
    # replace each categorical column 
    for column in list_of_columns:
      new_df[column].replace(replaced_dictionary[column], inplace=True)

    # keep a track of what changed
    self.labeld_dictionary = replaced_dictionary
    return(new_df)
    
  # retrieve categorical
  def retrieve_replaced(self):
    return self.dataframe

In [ ]:
  # old retrieve 
  # def retrieve_replaced(self):
    # list_of_columns = self.changed_columns 
     # swapped_dict = {} 
     # for element in self.labeld_dictionary: 
    #   swapped_dict[element] = {v: k for k, v in self.labeld_dictionary[element].items()}
      
    # for column in list_of_columns:
    #   self.dataframe.replace({column: swapped_dict[column]}, inplace=True)
      
    # return self.dataframe

In [321]:
df2 = df.copy()
df2.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,reversible defect,no disease,borderline
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,reversible defect,no disease,borderline
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,reversible defect,no disease,normal
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,reversible defect,no disease,borderline
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,normal,no disease,high

In [324]:
test_class_swap = labelizor(df2)

In [296]:
type(test_class_swap)

__main__.labelizor

In [334]:
test_class_swap.__check_object_col()

AttributeError: 'labelizor' object has no attribute '__check_object_col'

In [333]:
df2 = test_class_swap.replace_categorical()
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,0,0,0
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,0,0,0
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,0,0,1
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,0,0,0
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,1,1,0
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,0,0,2
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,1,0,2
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,1,1,2
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,0,0,1

In [332]:
df2 = test_class_swap.retrieve_replaced()
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,chol_category
0,52.0,1,0.0,125,212.0,0,1.0,168,0,1.0,2,2,reversible defect,no disease,borderline
1,53.0,1,0.0,140,203.0,1,0.0,155,1,3.1,0,0,reversible defect,no disease,borderline
2,70.0,1,0.0,145,174.0,0,1.0,125,1,2.6,0,0,reversible defect,no disease,normal
3,61.0,1,0.0,148,203.0,0,1.0,161,0,0.0,2,1,reversible defect,no disease,borderline
4,62.0,0,0.0,138,294.0,1,1.0,106,0,1.9,1,3,normal,no disease,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59.0,1,1.0,140,221.0,0,1.0,164,1,0.0,2,0,normal,disease,borderline
1021,60.0,1,0.0,125,258.0,0,0.0,141,1,2.8,1,1,reversible defect,no disease,high
1022,47.0,1,0.0,110,275.0,0,0.0,118,1,1.0,1,1,normal,no disease,high
1023,50.0,0,0.0,110,254.0,0,0.0,159,0,0.0,2,0,normal,disease,high
1024,54.0,1,0.0,120,188.0,0,1.0,113,0,1.4,1,1,reversible defect,no disease,normal